<template>
    <div>
        <task-form @onSave="hanlderUpdate" option="1"></task-form>
    </div>
</template>

<script>
    import TaskForm from './TaskForm';

    export default {
        components: {
            TaskForm
        },

        methods: {
            hanlderUpdate: function () {
                var task = this.$store.getters.task;
                this.$store.dispatch('updateTaks', task).then((response) => {
                    console.log(response);
                }).catch((error) => {
                    console.log((error));
                });
            }
        }
    }
</script>
