<template>
    <div class="ui text container">
        <h4 class="ui top attached block header">
            {{ task.title }}
        </h4>
        <div class="ui attached segment">
            <p>{{ task.description }}</p>
        </div>
        <div class="ui attached segment">
            <button class="ui positive basic button" @click="update(task._id)">Update</button>
            <button class="ui negative basic button" @click="deleteTask(task._id)">Delete</button>
        </div>
        <h4 class="ui bottom attached block header">
            <router-link :to="{ name: 'TasksList' }">Back</router-link>
        </h4>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {

        created() {
            var id = this.$route.params.id;
            this.$store.dispatch('getTaskById', id);
        },

        computed: {
            ...mapGetters(['task']),
        },

        methods: {
            update: function (id) {
                this.$router.push({name: 'TaskEdit', params: { id }});
            },
            deleteTask: function (id) {
                this.$store.dispatch('deleteTaks', id).then(() => {
                    this.$router.push({name: 'TasksList'});
                }).catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>
