<template>
    <div>
        <form class="ui form" @submit.prevent="save">
            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title" v-model="task.title">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea v-model="task.description"></textarea>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        props: ['onSave', 'option'],

        created() {
            if(this.option == 'undefined' || this.option == 0) {
                this.$store.commit('clearTask');
            }
            else {
                var id = this.$route.params.id;
                this.$store.dispatch('getTaskById', id);
            }
        },

        computed: {
            ...mapGetters(['task']),
        },

        methods: {
            save: function () {
                this.$emit('onSave');
            }
        }
    }
</script>
