<template>
    <div class="ui text container">
        <div v-for="item in tasks">
            <h4 class="ui top attached block header">
                <router-link :to="{ name: 'TaskShow', params: { id: item._id }}" class="header">
                    {{ item.title }}
                </router-link>
            </h4>
            <div class="ui bottom attached segment">
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        
        created() {
            this.$store.dispatch('getTasks');
        },

        computed: {
            ...mapGetters(['tasks']),

            ...mapGetters({dev: 'developer'}),
        }

    }
</script>

<style>
a {
    color: #000;
}
</style>