<template>
    <div>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <router-link :to="{ name: 'Home'}" class="header item">Vuex App</router-link>
                <router-link :to="{ name: 'Home'}" class="item">Home</router-link>
                <div class="ui simple dropdown item" v-if="isLogin">
                    Tasks <i class="dropdown icon"></i>
                    <div class="menu">
                        <router-link :to="{ name: 'TasksList'}" class="item">Tasks</router-link>
                        <router-link :to="{ name: 'TaskCreate'}" class="item">New</router-link>
                    </div>
                </div>
                <div class="right menu" v-if="!isLogin">
                    <router-link :to="{ name: 'login'}" class="item">Login</router-link>
                    <router-link :to="{ name: 'register'}" class="item">Register</router-link>
                </div>
                <div class="right menu" v-if="isLogin">
                    <router-link :to="{ name: 'profile'}" class="item">Profile</router-link>
                    <a class="item" @click.prevent="logout()">Logout</a>
                </div>
            </div>
        </div>

        <div class="ui main container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        computed: {
          ...mapGetters(['isLogin'])
        },
        methods: {
            logout: function () {
                this.$store.dispatch('logout');
                this.$router.push({name: 'Home'});
            }
        }
    }
</script>

<style>
    body {
     background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }
    .main.container {
        margin-top: 5em;
    }
</style>
