<template>
    <div>
        <form class="ui form" @submit.prevent="login">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username" v-model="user.username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="********" v-model="user.password">
            </div>
            <button class="ui button" type="submit">Login</button>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {
                    username: '',
                    password: ''
                }
            }
        },

        methods: {
            login() {
                this.$store.dispatch('login', this.user).then((response) => {
                    this.$router.push({name: 'TasksList'});
                }).catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>
