<template>
    <div>
        <h2>Profile</h2>
        <h3 v-if="isLogin">{{ user }}</h3>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: "Profile",

        created() {
            this.$store.dispatch('getProfile').then((response) => {

            }).catch((error) => {

            });
        },

        computed: {
            ...mapGetters(['user', 'isLogin'])
        }
    }
</script>

<style>

</style>
